// Place all the styles related to the ToDo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.to_do-img {
  width: 300px;
  height: auto;
  margin-left: 200px;
  margin-bottom: 10px
}