<!DOCTYPE html>
<html>
<head>
  <title>BucketList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqh6ycN-kZcduf5eW1i7h8Z6ZEHjSI4Cc&sensor=false">
  </script>
   <%= csrf_meta_tags %>
</head>
<body>
  <h1>My Amazing Bucket List</h1>

<%= yield %>

</body>
</html>
